<div class="form">
  <div class="container">
    <h1>CREATE ACCOUNT</h1>
    <form #form="ngForm" (ngSubmit)="register(form.value)">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          required
          placeholder="Your Name *"
          #nameField
          name="name"
          ngModel
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control"
          required
          placeholder=" Your Email * "
          name="email"
          ngModel
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          required
          placeholder=" Your Pasword *"
          name="password"
          ngModel
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          required
          placeholder="Repeat Your Password *"
          name="repeatPassword"
          ngModel
        />
      </div>
      <span> <span style="color: red;">*</span> Required Fileds </span>

      <div class="form-group">
        <button type="submit" class="btn">
          SIGN UP
        </button>
      </div>
      <div class="form-group">
        <p>Already have an account ? <a routerLink="/login"> Login here</a></p>
      </div>
    </form>
  </div>
</div>
