@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

$primary-color: #1d2228;
$secondary-color: #fb8122;
$lighter-color: #e1e2e2;

:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/static/bg-register.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.form {
  font-family: 'Roboto Mono', monospace;
  width: 40%;
  background-color: rgba($lighter-color, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px auto;
  box-sizing: border-box;
  input,
  label {
    padding: 20px;
    margin: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    &:focus {
      border-radius: 0;
      outline: none;
    }
  }
  p {
    padding: 10px;
    width: 100%;
  }
  button {
    padding: 20px;
    margin: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $secondary-color;
  }
  a {
    color: black;
    font-weight: 700;
  }
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
}
.form-group {
  display: flex;
  width: 100%;
}
.btn {
  font-size: 20px;
  font-weight: 700;
  background-color: $primary-color;
  color: white;
}
@media only screen and (max-width: 768px) {
  .form {
    width: 90%;
    input,
    label {
      padding: 5px;
      margin: 10px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $secondary-color;
      &:focus {
        border-radius: 0;
        border: 2px solid $secondary-color;
      }
    }
    button {
      padding: 10px;
      margin: 10px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $secondary-color;
      font-size: 15px;
    }
    p {
      padding: 10px;
      margin: 0 10px 10px 10px;
      width: 100%;
      font-size: 15px;
    }
    h1 {
      font-size: 1rem;
    }
  }
}
.green:focus {
  border-color: green !important;
}
.red {
  &:focus {
    border-color: red !important;
  }
}
.disabled:disabled {
  background-color: #dddddd;
}
