<div class="wrapper" *ngIf="user">
  <div class="info-holder">
    <div class="info-item">
      <img src="../../assets/profile.png" alt="" />
    </div>
    <div class="info-item">
      <h4><span>Name: </span>{{ user.name }}</h4>
      <h4><span>Email: </span>{{ user.email }}</h4>
      <h4><span>Joined: </span>{{ user.date | date: 'dd.MM.yyyy hh:mm:ss' }}</h4>
    </div>
    <div class="info-item">
      <button class="btn" routerLink="/" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="link-wrapper">
    <a
      class="link"
      [routerLink]="['/contacts', 'details', contact._id]"
      *ngFor="let contact of contacts"
    >
      <div>{{ contact.name }}</div>
      <div>{{ contact.email }}</div>
      <div>{{ contact.phone }}</div>
      <div>{{ contact.type }}</div>
    </a>
  </div>
</div>
