<div class="form">
  <div class="container">
    <h1>LOGIN</h1>
    <form>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          required
          placeholder="Your Name *"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          required
          placeholder=" Your Pasword *"
        />
      </div>

      <span> <span style="color: red;">*</span> Required Fileds </span>

      <div class="form-group">
        <button type="submit" class="btn">SIGN IN</button>
      </div>
      <div class="form-group">
        <p>Don't have an account ?<a routerLink="/login"> Register here</a></p>
      </div>
    </form>
  </div>
</div>
