<nav class="navbar">
  <a type="button" class="branding" routerLink="/">Contact Keeper</a>
  <a
    #burger
    class="toggleBtn"
    [ngClass]="{ toggleOn: collapse, toggleOff: !collapse }"
    (click)="toggleNavbarMenu()"
    href="javascript:void(0)"
  >
    <div></div>
    <div></div>
    <div></div>
  </a>

  <ul class="nav" [ngClass]="{ 'nav-show': collapse, 'nav-hide': !collapse }" #nav>
    <li class="nav-item" (click)="toggleNavbarMenu()">
      <a routerLink="/">Home</a>
    </li>
    <li class="nav-item" *ngIf="user" (click)="toggleNavbarMenu()">
      <a routerLink="/profile">Hello, {{ user.name }}!</a>
    </li>
    <li class="nav-item" *ngIf="user" (click)="toggleNavbarMenu()">
      <a routerLink="/contacts">My Contacts</a>
    </li>

    <li *ngIf="!user" class="nav-item" (click)="toggleNavbarMenu()">
      <a routerLink="/auth/login">Login</a>
    </li>

    <li *ngIf="!user" class="nav-item" (click)="toggleNavbarMenu()">
      <a routerLink="/auth/register">Register</a>
    </li>

    <li *ngIf="user" class="nav-item" (click)="toggleNavbarMenu()" (click)="logout()">
      <a routerLink="/">Logout</a>
    </li>
  </ul>
</nav>
